.main1{
    background-color: beige;
    min-height: 100vh;
}
.name{
    padding-left: 1300px;
    padding-top: 8px;
}
.inputs1{
    display: flex;
    padding-left: 120px;
    gap: 15px;
    margin-top: 35px;
}
.first{
    width: 400px;
    border: 2px solid black;
    border-radius: 5px;
}
.second{
    width: 400px;
    border: 2px solid black;
    border-radius: 5px;
}
.btn1{
    width: 100px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: beige;
}
.first:hover{
    border: 3px solid rgb(13,13,156);
}
.second:hover{
    border: 3px solid rgb(13,13,156);
}
.btn1:hover{
    background-color: greenyellow;
    transition: 0.2s;
    border: 2px solid white;
    box-shadow: 3px 3px 2px rgb(13, 13, 156);
}